In [1]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

## Discussion 


1. What is a dataframe?

2-d tabular data

2. What information can we obtain about a dataframe?

data types, shape, columns, and index for rows

3. How have we interacted with a dataframe?

We have interacted with df's by populating and rearranging them based off what info we need from the data. We have merged df's and provided desriptive stats from them.

---

### Practice Exercises


#### Information about a dataframe

1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [2]:
df.size

10400

In [3]:
df.shape

(800, 13)

In [4]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [5]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
df.describe

<bound method NDFrame.describe of        #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]>

In [7]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

#### Working with dataframes

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument.

In [8]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [9]:
df['HP'].sort_values(ascending=False).head(1)

261    255
Name: HP, dtype: int64

In [10]:
def highest_attack():
    pass

2. Which Pokemon possess(es) the highest HP value?

In [11]:
df['Name'][df['HP'].sort_values(ascending=False)].head(3)

255    Tyrogue
250     Phanpy
190    Togetic
Name: Name, dtype: object

 
3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument

In [12]:
num_types = len(df.groupby('Type 1'))
num_types

18

In [52]:
df['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

4. Number of Pokemon whose Type 2 is Ghost

In [13]:
df['Type 2'].value_counts()

Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: count, dtype: int64

In [14]:
len(df[df['Type 2'] == 'Ghost'])

14

In [15]:
df[df['Type 2'] == 'Ghost']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
326,302,Sableye,Dark,Ghost,380,50,75,75,65,65,50,3,False
327,302,SableyeMega Sableye,Dark,Ghost,480,50,85,125,85,115,20,3,False
530,478,Froslass,Ice,Ghost,480,70,80,70,80,70,110,4,False
531,479,Rotom,Electric,Ghost,440,50,50,77,95,77,91,4,False
653,592,Frillish,Water,Ghost,335,55,40,50,65,85,40,5,False
654,593,Jellicent,Water,Ghost,480,100,60,70,85,105,60,5,False
683,622,Golett,Ground,Ghost,303,59,74,50,35,50,35,5,False
684,623,Golurk,Ground,Ghost,483,89,124,80,55,80,55,5,False
748,679,Honedge,Steel,Ghost,325,45,80,100,35,37,28,6,False
749,680,Doublade,Steel,Ghost,448,59,110,150,45,49,35,6,False
750,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False
751,681,AegislashShield Forme,Steel,Ghost,520,60,50,150,50,150,60,6,False
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True

5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument

In [16]:
percent_ghost = (len(df[df['Type 2'] == 'Ghost'])) / len(df['Type 2']) * 100
percent_ghost

1.7500000000000002

6. Number of Pokemon whose Attack is greater than Defense

In [65]:
higher_atk = (df['Attack'] > df['Defense']).sum()
higher_atk

433

7. Lowest speed for Grass or Rock

In [18]:
green = df["Type 1"] == 'Grass'
hard = df['Type 2'] == 'Rock'

green_slow = green | hard
green_slow

0       True
1       True
2       True
3       True
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Length: 800, dtype: bool

In [19]:
df[green_slow].sort_values(by='Speed').Speed.head(1)

230    5
Name: Speed, dtype: int64

10. Change all the column names

    * lowercase letters
    * remove whitespace

In [25]:
df.rename(columns={'Name': 'name', 'Type 1': 'type1', 'Type 2': 'type2', 'Total': 'total', 'HP': 'hp', 'Attack': 'attack', 'Defense': 'defense', 'Speed':'speed', 'Generation': 'generation', 'Legendary':'legendary'})

,#,name,type1,type2,total,hp,attack,defense,Sp. Atk,Sp. Def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

11. Rename Sp. Attack to special-attack

12. Rename Sp. Def to special-defense

In [26]:
df.rename(columns={'Sp. Atk': 'special-attack', 'Sp. Def':'special_defense'})

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,special-attack,special_defense,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

13. Which Pokemon has/have the greatest difference in:

* Attack and Defense points
* Special Attack and Special Defense

In [34]:
df['atk_def'] = df['Attack'] - df['Defense']
df['atk_def'] 

df['spatk_spdef'] = df['Sp. Atk'] - df['Sp. Def']

df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,atk_def,spatk_spdef
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,-1,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,-1,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,-23,2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9,10

In [43]:
df.atk_def.min()

-220

In [46]:
df.spatk_spdef.min()

-220

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy?

In [49]:
is_rock = df['Type 1'] == 'Rock'
is_fairy = df['Type 2'] == 'Fairy'

df.groupby(is_rock & is_fairy).count()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,atk_def,spatk_spdef
False,797,797,797,411,797,797,797,797,797,797,797,797,797,797,797
True,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

15. Which Fire Pokemon appears last alphabetically?

    * Create a function named last_pokemon
    * Use the loaded dataframe as an argument

In [62]:

last_pokemon = (df['Type 1'] == 'Fire') | (df['Type 2'] == 'Fire')

df[last_pokemon].sort_values('Name', ascending=False).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,atk_def,spatk_spdef
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False,1,-15

Bonus

1. Find the average speed by Generation

In [72]:
df.groupby(['Generation']).mean('Speed')

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,atk_def,spatk_spdef
Generation,,,,,,,,,,,
1,75.819277,426.813253,65.819277,76.638554,70.861446,71.819277,69.090361,72.584337,0.036145,5.777108,2.728916
2,202.283019,418.283019,71.207547,72.028302,73.386792,65.943396,73.905660,61.811321,0.047170,-1.358491,-7.962264
3,321.968750,436.225000,66.543750,81.625000,74.100000,75.806250,71.225000,66.925000,0.112500,7.525000,4.581250
4,442.446281,459.016529,73.082645,82.867769,78.132231,76.404959,77.190083,71.338843,0.107438,4.735537,-0.785124
5,574.272727,434.987879,71.787879,82.066667,72.327273,71.987879,68.739394,68.078788,0.090909,9.739394,3.248485
6,688.012195,436.378049,68.268293,75.804878,76.682927,74.292683,74.890244,66.439024,0.097561,-0.878049,-0.597561

2. Create a function which acccepts:

    * a dataframe
    * two different Pokemon stats e.g. Attack and Defense

The function will:

    * Calculate difference between the two given Pokemon stats

    * Create a column which contains the difference of the two given Pokemon stats named stats-diff